    streamlit
    pandas
    numpy
    openai
    torch
    torchdiffeq
    matplotlib
    scipy
    llama-index
    llama-index-llms-openai
    llama-index-embeddings-openai
    beautifulsoup4
    requests
    seaborn
    statsmodels
    fpdf
    streamlit-shadcn-ui
    st-pages
    streamlit-mermaid
    streamlit-agraph
